# Your bot token - https://goo.gl/EQ25Rb
TOKEN=''
# Your bot prefix
PREFIX='!'
# Signature bot color for embeds - must be a hex or one of the color strings listed here (such as GREEN)
# https://discord.js.org/#/docs/main/stable/typedef/ColorResolvable
COLOR='BLUE'
# Status message (must set status "type" if this is set)
PRESENCE_NAME='people sing songs'
# Status type - PLAYING, LISTENING, or WATCHING (this text will be appended to the status message)
# In the case of LISTENING, the appended text will be "Listening to"
PRESENCE_TYPE='LISTENING'
# Your Discord ID
OWNER_ID='381490382183333899'